@using System.Activities.Statements
@using System.Web.Optimization
@using Web.Public.Helpers
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Barney Consulting, Inc.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Expert software development for your business or startup">
        <meta name="author" content="Adam Barney">
      
        @Styles.Render("~/assets/css/all")
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="~/assets/lib/html5shiv.js"></script>
      <script src="~/assets/lib/respond.min.js"></script>
    <![endif]-->

    </head>
    <body>
        <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
        
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/img/logo-wide.png")"/></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        @Html.MenuLink("Home", "Index", "Home")
                        <li class="dropdown @(Html.IsActive("", "services")?"active":"")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (!Html.IsActive("index", "services"))
                                {
                                    <li><a href="@Url.Action("Index", "Services")">Summary of Services</a></li>
                                }
                                <li role="presentation">@Html.ActionLink("Staff Augmentation", "StaffAugmentation", "Services")</li>
                                <li role="presentation">@Html.ActionLink("Web Application Development", "Web", "Services")</li>
                                <li role="presentation">@Html.ActionLink("Mobile Development", "Mobile", "Services")</li>
                                <li role="presentation">@Html.ActionLink("Windows Development", "Windows", "Services")</li>
                                <li role="presentation">@Html.ActionLink("Cloud Development", "Cloud", "Services")</li>
                                <li role="presentation">@Html.ActionLink("Startups", "Startups", "Services")</li>
                                <li role="presentation">@Html.ActionLink("Training", "Training", "Services")</li>
                                <li role="presentation">@Html.ActionLink("Server/Back-end Development", "Server", "Services")</li>
                                <li role="presentation">@Html.ActionLink("And more...", "More", "Services")</li>
                            </ul>
                        </li>
                        @Html.MenuLink("About", "About", "Home")
                        @Html.MenuLink("Contact", "Index", "Contact")
                    </ul>
                          
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        
        @if (IsSectionDefined("jumbotron"))
    {
            <div class="jumbotron">
                <div class="container">
                    @RenderSection("jumbotron")
                </div>
            </div>
    }

        <div class="container">
            @RenderBody()
            <footer>
                <div class="row">
                    <div class="col-sm-4">&copy; Barney Consulting, Inc. 2013@(DateTime.Now.Year > 2013 ? "- " + DateTime.Now.Year : "")
                    </div>
                    <div class="col-sm-4 text-center">
                        @Html.ActionLink("Home", "Index", "Home") |
                        @Html.ActionLink("Service", "Index", "Services") |
                        @Html.ActionLink("About", "About", "Home") |
                        @Html.ActionLink("Contact", "index", "Contact")
                    </div>
                    <div class="col-sm-4 text-right">
                        <a href="tel:&#52;&#48;&#50;&#46;&#55;&#55;&#48;&#46;&#50;&#52;&#49;&#54;" class="reverse">6142.077.204</a> |
                        <a href="mailto:&#97;&#100;&#97;&#109;&#64;&#97;&#100;&#97;&#109;&#98;&#97;&#114;&#110;&#101;&#121;&#46;&#99;&#111;&#109;"><span class="reverse">moc.yenrabmada@mada</span></a>
                    </div>
                </div>
            </footer>
        </div> <!-- /container -->
        
        
        <!--[if lte IE 8 ]>
            <script src="~/assets/lib/jQuery/jquery-1.10.2.min.js"></script>
        <![endif]-->
        <!--[if gte IE 7]><!-->
            <script src="~/assets/lib/jQuery/jquery-2.0.2.min.js"></script>
        <!--<![endif]-->
        
        
        @Scripts.Render("~/bundles/bootstrap")
        
        @if (IsSectionDefined("scripts"))
         {
            @RenderSection("scripts", false)
        }
        <script type="text/javascript">
            $(document).ready(function() {
                //Add Hover effect to menus
                jQuery('ul.nav li.dropdown').hover(function () {
                    jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
                }, function () {
                    jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
                });
            });
        </script>
    </body>
</html>