@using Web.Public.Helpers
<ul class="nav nav-pills nav-stacked hidden-sm hidden-xs">
    @if (!Html.IsActive("index", "services"))
    {
        <li><a href="@Url.Action("Index", "Services")">Summary of Services</a></li>
    }
    <li @Html.MenuLink("Staff Augmentation", "StaffAugmentation", "Services")</li>
    <li>@Html.MenuLink("Web Application Development", "Web", "Services")</li>
    <li>@Html.MenuLink("Mobile Development", "Mobile", "Services")</li>
    <li>@Html.MenuLink("Windows Development", "Windows", "Services")</li>
    <li>@Html.MenuLink("Cloud Development", "Cloud", "Services")</li>
    <li>@Html.MenuLink("Startups", "Startups", "Services")</li>
    <li>@Html.MenuLink("Training", "Training", "Services")</li>
    <li>@Html.MenuLink("Server/Back-end Development", "Server", "Services")</li>
    <li>@Html.MenuLink("And more...", "More", "Services")</li>
</ul>